{{> navbar}}


<div class="mb-3">
  <label for="title" class="form-label">{{Title}}</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="content" class="form-label">{{Content}}</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
<div class="col-auto">
    <button type="submit" class="btn btn-secondary mb-3">Submit</button>
  </div>
</div>